body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    width: 100%
}

.title_header_container{
    display: flex;
    background-color: rgb(73, 73, 73);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
}

#title{
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
    outline: yellow solid 5px;
    outline-offset: 12px;
    border-radius: 10px;
    color: white;
}

#title_quote{
    font-style:italic;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

#title_quote_ath{
    font-size: 16px;
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
    color: rgba(255, 255, 255, 0.774);
}

.container_btn_scr{
    display: flex;
    background-color: rgb(100, 100, 100);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-top: 55px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    
}



.results {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#round_result {
    font-size: 36px;
}

#score {
    font-size: 32px;
    margin-top: 55px;
}

.buttons_container{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    margin: 50px;
    width: 45%;
    flex: 1;
    
}

#rock_btn, #paper_btn, #scissors_btn{
    background: yellow;
    border: 4px solid black;
    border-radius: 15px;
    color: black;
    width: 30%;
    padding: 10%;  
    display: flex;
    justify-content: center;
    margin: 0 25% 0 25%;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
}

.choices_container{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    width: 50%;
    justify-content:space-between;
    font-size: 32px;
    color: white;
    font-weight: 400;
    gap: 35px;
}

.footer{
    display:flex;
    position: fixed;
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    bottom: 0px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}